/* Home.css */

/* Container geral */
.home-container {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;  /* Organiza as seções lado a lado */
  gap: 40px;  /* Espaçamento entre as seções */
  padding: 50px 20px;
  background: linear-gradient(to right, #cee9ee, #2c3e50);
}

/* Seção de Apresentação */
.presentation-section {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background-color: #82a0a5;
  color: white;
  padding: 0px;
  border-radius: 8px;
  width: 60%;
  height: auto; /* Define a largura da seção de apresentação */
}


.presentation-text {
  width: 100%;
  text-align: justify;
  padding-left: 10px;

}

.presentation-text p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-right: 20px;
}


.presentation-content{
  margin-top: 20px;
  height: auto;
}

/* Seção de Cards */
.cards-section {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha se necessário */
  justify-content: flex-start; /* Alinha os cards à esquerda */
  width: 40%;
  gap: 10px; /* Adiciona espaçamento entre os cards */
}

.card {
  background-color: #ffffff;
  width: 40%;  /* Define a largura do card */
  padding: 10px;
  margin: 10px, 0, 0, 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;  /* Organiza os elementos dentro do card em coluna */
  height: fit-content/* Garante que o card ocupe toda a altura disponível */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%; 
  height: 100%;
  max-height: 300px;
  border-radius: 5px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-decoration: none;
  color: #2c3e50;
  text-align: center;
}

.access-button {
  padding: 10px 10px;
  background-color: #486e83;
  color: white;
  width: 100%; /* Faz o botão ocupar toda a largura do card */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 5px; /* Empurra o botão para a parte inferior */
}


.access-button:hover {
  background-color:#2a3d47;
  
}

/* Media Query para telas menores */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;  /* Organiza as seções uma embaixo da outra em telas pequenas */
  }

  .presentation-section {
    width: 100%; /* A seção de apresentação ocupa toda a largura */
  }

  .cards-section {
    width: 100%; /* A seção de cards ocupa toda a largura */
  }

  .card {
    width: 100%;  /* Os cards vão empilhar em telas menores */
  }
}
