body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-x: hidden; 
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 81vh;
  width: 100%; 
  overflow-x: hidden; 
}

body {
  line-height: 1.6;
}
